{% load menu_tags %}
<li>
<a href="{{ item.get_url }}" {% if item == active_item %}class="active"{% endif %}>
  {{ item.title }}
</a>

{% if item.id in dict_of_children %}
    <ul>
        {% for child in dict_of_children|get:item.id %}
            {% if child in visible_items %}
                {% include "menu/menu_item.html" with item=child active_item=active_item visible_items=visible_items dict_of_children=dict_of_children request=request %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
</li>



